<% if notice %>
  <div id="notice" class="alert alert-success text-center" role="alert"><%= notice %></div>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
