<head>
  <div class="page-header">
    <h1>Frequently Asked Questions</h1>
  </div>
</head>

<body>


<% @paragraphs.each do |paragraph| %>
  <% text = paragraph.question %>
  <% origin = paragraph.answer %>
  <p><strong>
    <%= text %>
  </strong></p>
  <p>
    <%= origin %>
  </p>
<% end %>



</body>
