<head>
  <div class="page-header">
    <h1>Frequently Asked Questions</h1>
  </div>
</head>

<body>

  <p>
    <strong>What is gCamp?</strong><br>
    <br>
    gCamp is an awesome tool that is going to change your life. gCamp<br>
    is your one stop shop to organize all your tasks and documents.<br>
    You'll also be able to track comments that you and others make.<br>
    gCamp may eventually replace all need for paper and pens in the<br>
    entire world. Well, maybe not, but it's going to be pretty cool.<br>

    <br>
    <strong>How do I join gCamp?</strong>
    <br>
    <br>
    Right now, gCamp is still in production. So, there is not a sign up<br>
    page open to the public, yet! Your best option is to become super<br>
    best friends with a gCamp developer. They can be found in the<br>
    hanging around gSchool during the day and hitting the hottest clubs
    at night.<br>
    <br>
    <br>
    <strong>When will gCamp be finished?</strong>
    <br>
    <br>
    gCamp is a work in progress. That being said, it should be fully<br>
    functional by December 2014. Functional, but our developers are<br>
    going to continue to improve the sight for the foreseeable future.<br>
    Check in daily for new features and awesome functionality. It's<br>
    going to blow your mind. Organization is only (well, will only) be a<br>
    click away. Amazing!


  </p>



</body>


</body>
